@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lora&family=Poppins&family=Varela+Round&display=swap');

* > *{
  font-family: 'Poppins', sans-serif;
}
* {
  box-sizing: border-box;
}

.loader{
  @apply border-gray-200 rounded-full border-4 ease-linear h-10 w-10;
  border-top-color: #363ce0;
  animation: spinner 1.2s linear infinite;
}

@keyframes spinner{
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
}


